# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# vercel
.vercel

# Backend
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env*
media/
static/
db.sqlite3
debug.log*
logs/debug_*.log
logs